include orangecontrib/spectroscopy_prototypes/tutorials/*.ows
include orangecontrib/spectroscopy_prototypes/widgets/icons/*
include orangecontrib/matrix_prototypes/tutorials/*.ows
include orangecontrib/matrix_prototypes/widgets/icons/*